<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Music  - SonicScape Music App</title>
  </head>
  <style>
    * {
        font-family: 'Open Sans', sans-serif;}
    </style>
  <body>
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}"><span class="text-warning">SonicScape</span></a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('music') }}">Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('artists') }}">About Artists</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-outline-primary me-2" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href="{{ url_for('register') }}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <div class="card mb-3" style="height: 80vh; display: flex; justify-content: center; align-items: center; margin: 20px;">
        <img src="static/images/banner.jpg" class="card-img-top" alt="..." style="max-height: 100%;">
        <div class="card-body" style="position: absolute; text-align: center; color: white;">
            <h1 class="card-title">Enjoy Your Music Journey with <span class="text-warning">SonicScape</span></h1>
  <h3 class="card-text">Discover, listen, and immerse yourself in a world of music. From the latest chart-toppers to timeless classics, our app has it all. Dive in and let the music take you on a captivating journey.</h3>
            <a href="{{ url_for('register') }}" class="btn btn-warning btn-lg">Register Now</a>
        </div>
    </div>
    

    <div class="container mt-3">
      
        {% set categories = ['Chill', 'Cinematic', 'Pop'] %}

        {% for category in categories %}
        <div class="jumbotron bg-warning text-dark text-center my-4 py-3">
            <h2 class="text-dark">{{ category }} Music &#127925;</h2>
        </div>
        
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for music in music_records if music.category == category %}
                    <div class="col">
                        <div class="card h-100 bg-dark text-white">
                            <div class="card-body">
                                <h5 class="card-title text-white">Music Play</h5>
                                <p class="card-text">Track: {{ music.song_name }}</p>
                                <p class="card-text">Artist: {{ music.artist_name }}</p>
                                <p class="card-text">Category: {{ music.category }}</p>
                                <audio controls>
                                    <source src="{{ url_for('static', filename=music.mp3_file) }}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                                <!-- Add to Profile Button -->
                                <form action="{{ url_for('add_to_profile', music_id=music.id) }}" method="post" class="mt-2">
                                    <button type="submit" class="btn btn-warning">Add to Favorites🖤</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div> 


    {% include 'footer.html' %}
  </body>
</html>
